div .header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #283D3B;
    padding:4px;
}

h1 {
    color:whitesmoke;
    margin:4px;
    font-family: 'VT323', monospace;
    font-size: 45px;
}

h3{
    color:whitesmoke;
    margin:4px;
    font-family: 'VT323', monospace;
}

div .nav {
    display: flex;
    justify-content: center;
    background-color:#283D3B ;
    color:whitesmoke;
    padding-bottom:7px;
    font-family:'VT323', monospace;
    font-size: 20px;
}
.submit {
    color: #283D3B;
    font-family: 'VT323', monospace;
}

.text{
    width:90px;
    margin-left:2px;
    margin-right:3px;
}